<html>
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/donjohnmedia/css/popup.css') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
{% endblock %}
<body>
    {% block body %}
    {% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/donjohnmedia/js/media.js') }}"></script>
    {% endblock %}
</body>
</html>
