<a href="#" class="easyadmin-thumbnail" data-featherlight="#easyadmin-lightbox-{{ uuid }}" data-featherlight-close-on-click="anywhere">
    {% media value, 'thumbnail' %}
</a>

<div id="easyadmin-lightbox-{{ uuid }}" class="easyadmin-lightbox">
    {% media value, 'thumbnail' %}
</div>
