{% block media_widget %}
    {% if form.vars.dropzone %}
        <input type="file" id="hiddenFile{{ id }}" style="visibility: hidden">
        <div data-dropzone="on" id="dropzone{{ id }}" style="width: 200; height: 200">
            {{ 'dropzone.message'|trans({},'DonjohnMediaBundle') }}<br />
    {% endif %}

            {% media form.vars.data, 'thumbnail' with {class: 'thumbnail' } %}
            {{ form_widget(form) }}

    {% if form.vars.dropzone %}
        </div>
    {% endif%}

{% endblock media_widget %}