{% block media_widget %}
    {% if form.vars.dropzone %}
        <div data-dropzone="on" id="dropzone{{ id }}" class="media-dropzone">
            <span>{{ 'dropzone.message'|trans({},'DonjohnMediaBundle') }}<br /></span>
    {% endif %}

            {% media form.vars.data, 'thumbnail' with {class: 'thumbnail' } %}
            {{ form_widget(form) }}

    {% if form.vars.dropzone %}
        </div>
    {% endif%}

{% endblock media_widget %}