<span class="panel-body center-block text-center media-info">
    {% media media, 'thumbnail' with {class: 'img-rounded visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block' } %}
</span>
